body {
    background-color: #ffffff;
  }
  h1 {
    color: #808080;
  }
  p {
    color: #808080;
  }
  
  .links {
    color: #000000;
}
  
    footer {
    color:#000000;
    font-size:14px;
    font-family:Helvetica;
}

    footer a {
    color:#808080;
}

    footer a:hover {
    color:#808080;
}

a{text-decoration:none}

    a:link {color: #808080}
    a:active {color: #808080}
    a:visited {color: #808080}
    a:hover {color: #808080}
    
    #Team:hover { color: #000000; }
    #Donate:hover { color: #000000; }
    #Membership:hover { color: #000000; }
    #GitHub:hover { color: #000000; }
    #Contributors:hover { color: #000000; }
