body {
  background-color: white;
  font-family: Helvetica, sans-serif;
  padding: 0;
  margin: 0; }

h1 {
  color: #808080; }

p {
  color: #808080; }

a {
  text-decoration: none; }

footer {
  color: black;
  font-size: 14px; }
  footer a:hover {
    color: gray; }

#Team:hover {
  color: black; }

#Donate:hover {
  color: black; }

#Membership:hover {
  color: black; }

#GitHub:hover {
  color: black; }

#Contributors:hover {
  color: black; }

#copyright {
  font-size: 12px; }
