//#header-nav {
//  li {
//    a {
//      text-decoration:none;
//      color: #383838;
//
//      &:link {
//        color: $gray;
//      }
//      &:active {
//        color: $gray;
//      }
//      &:visited {
//        color: $gray;
//      }
//    }
//  }
//}

footer {
  color: $black;
  font-size:14px;

  a:hover {
    color: $gray;
  }
}

#Team:hover { color: $black; }
#Donate:hover { color: $black; }
#Membership:hover { color: $black; }
#GitHub:hover { color: $black; }
#Contributors:hover { color: $black; }

#copyright {
  font-size: 12px;
}