footer {
  color: $black;
  font-size:14px;

  a:hover {
    color: $gray;
  }
}

nav {
  background-color: $backgroundColor;
}

#Team:hover { color: $black; }
#Donate:hover { color: $black; }
#Membership:hover { color: $black; }
#GitHub:hover { color: $black; }
#Contributors:hover { color: $black; }

#copyright {
  font-size: 12px;
  padding-top: 5px;
}