body {
  background-color: $backgroundColor;
  font-family: 'Open Sans', sans-serif;
  padding: 0 0 40px 0;
  margin: 0;
}

h1 {
  color: #808080;
}

p {
  color: #808080;
}

a {
  text-decoration:none;
  font-weight: 700;
}

.bio {
  text-align: center;
  padding: 5px;
  margin: 0;
  color: $black;
  cursor: pointer;

  &:hover > img {
    @include glow($orange);
  }

  &:hover > .bio-text {
    display: none;
  }
}

.bio-text {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  @include transparentBackground($backgroundColor, 0.75);
  display: block;
  text-align: center;

  & > *:last-child {
    font-size: 90%;
    text-decoration: underline;
  }
}

#content {
  padding-top: 10px;
}

.under_construction {
  text-align: center;
  h1 {
    color: $orange;
  }
}