body {
  background-color: $backgroundColor;
  font-family: 'Open Sans', sans-serif;
  padding: 0 0 40px 0;
  margin: 0;
}

h1 {
  color: #808080;
}

p {
  color: #808080;
}

a {
  text-decoration:none;
  font-weight: 700;
}

.bio {
  text-align: center;
  padding: 0;
  margin: 0;
  color: $black;
}

.bio:hover .bio-text {
  display: block;
}

.bio-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $backgroundColor;
  display: none;
  text-align: center;
}

.bio-photo {
  display: inline;
}

#content {
  padding-top: 10px;
}

.under_construction {
  text-align: center;
  h1 {
    color: $orange;
  }
}