/* line 1, ../../SASS/_page.scss */
body {
  background-color: white;
  font-family: Helvetica, sans-serif;
  padding: 0 0 40px 0;
  margin: 0;
}

/* line 8, ../../SASS/_page.scss */
h1 {
  color: #808080;
}

/* line 12, ../../SASS/_page.scss */
p {
  color: #808080;
}

/* line 16, ../../SASS/_page.scss */
a {
  text-decoration: none;
}

/* line 1, ../../SASS/_navigation.scss */
footer {
  color: black;
  padding: 2px 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  background-color: white;
  left: 0;
  right: 0;
  border-top: 1px solid black;
}
/* line 12, ../../SASS/_navigation.scss */
footer a:hover {
  color: gray;
}

/* line 17, ../../SASS/_navigation.scss */
nav {
  background-color: white;
}

/* line 21, ../../SASS/_navigation.scss */
#Team:hover {
  color: black;
}

/* line 22, ../../SASS/_navigation.scss */
#Donate:hover {
  color: black;
}

/* line 23, ../../SASS/_navigation.scss */
#Membership:hover {
  color: black;
}

/* line 24, ../../SASS/_navigation.scss */
#GitHub:hover {
  color: black;
}

/* line 25, ../../SASS/_navigation.scss */
#Contributors:hover {
  color: black;
}

/* line 27, ../../SASS/_navigation.scss */
#copyright {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}

/* line 33, ../../SASS/_navigation.scss */
.footer-icons {
  padding: 0px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 40, ../../SASS/_navigation.scss */
.footer-icons a {
  float: right;
  margin-left: 2px;
}
/* line 44, ../../SASS/_navigation.scss */
.footer-icons a img {
  height: 33px;
  width: 33px;
}

/* line 51, ../../SASS/_navigation.scss */
.footer-links {
  padding-top: 7px;
}
/* line 54, ../../SASS/_navigation.scss */
.footer-links div {
  padding: 0 !important;
  text-align: center;
  border-right-style: solid;
  border-right-color: black;
  border-right-width: 1px;
}
/* line 62, ../../SASS/_navigation.scss */
.footer-links :last-child {
  border: none;
}
