/* line 1, ../../SASS/_page.scss */
body {
  background-color: white;
  font-family: Helvetica, sans-serif;
  padding: 0 0 40px 0;
  margin: 0;
}

/* line 8, ../../SASS/_page.scss */
h1 {
  color: #808080;
}

/* line 12, ../../SASS/_page.scss */
p {
  color: #808080;
}

/* line 16, ../../SASS/_page.scss */
a {
  text-decoration: none;
}

/* line 20, ../../SASS/_page.scss */
.photo-bio {
  text-align: center;
  padding: 0;
  margin: 0;
  color: black;
}
/* line 26, ../../SASS/_page.scss */
.photo-bio :hover ~ article {
  display: block;
}
/* line 30, ../../SASS/_page.scss */
.photo-bio article {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}
/* line 39, ../../SASS/_page.scss */
.photo-bio img {
  display: inline;
}

/* line 44, ../../SASS/_page.scss */
#content {
  padding-top: 10px;
}

/* line 1, ../../SASS/_navigation.scss */
footer {
  color: black;
  padding: 2px 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  background-color: white;
  left: 0;
  right: 0;
  border-top: 1px solid black;
}

/* line 13, ../../SASS/_navigation.scss */
header {
  padding: 10px 0 10px 25px;
  border-bottom: 1px solid black;
}
/* line 17, ../../SASS/_navigation.scss */
header .nav-links {
  margin-top: 20px;
}

/* line 22, ../../SASS/_navigation.scss */
header, footer {
  background-color: #cccccc;
}

/* line 26, ../../SASS/_navigation.scss */
#copyright {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
  color: #f36b32;
}

/* line 33, ../../SASS/_navigation.scss */
.footer-icons {
  padding: 0px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 40, ../../SASS/_navigation.scss */
.footer-icons a {
  float: right;
  margin-left: 2px;
}
/* line 44, ../../SASS/_navigation.scss */
.footer-icons a img {
  height: 33px;
  width: 33px;
}

/* line 51, ../../SASS/_navigation.scss */
.nav-links {
  padding-top: 7px;
}
/* line 54, ../../SASS/_navigation.scss */
.nav-links div {
  padding: 0 !important;
  text-align: center;
  border-right-style: solid;
  border-right-color: black;
  border-right-width: 1px;
}
/* line 62, ../../SASS/_navigation.scss */
.nav-links :last-child {
  border: none;
}
/* line 66, ../../SASS/_navigation.scss */
.nav-links a {
  color: #0f6db5;
  text-decoration: none;
}
/* line 71, ../../SASS/_navigation.scss */
.nav-links a:hover {
  color: #f36b32;
}
